<!DOCTYPE html>
<html>

<head>

<title>EchoTime</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="navbar">

<div class="logo">
EchoTime
</div>

<div class="nav-links">

<a href="/login">Login</a>

<a href="/signup">Signup</a>

</div>

</div>

<div class="hero">

<h1>
Send Messages To Your Future Self
</h1>

<p>
Store memories, dreams and goals.
Unlock them years later.
</p>

<a href="/signup" class="btn">
Start Your Journey
</a>

</div>

</body>

</html>